@media screen and (min-width: 769px) {
    html {
        background-color: ghostwhite;
    }
    #wholePage {
        height: 94%;
        position: absolute;
        margin-right: 7px;
        margin-top: 40px;
        width:99%;
    }

    #header, #footer {
        background: lightslategrey none repeat scroll 0 0;
        left: 0;
        height: 20px;
        padding: 12px;
        position: fixed;
        right: 0;
        z-index: 1;
    }

    #header {
        top: 0;
        border-bottom: 2px solid darkred;
    }

    #footer {
        bottom: 0;
        border-top: 2px solid darkred;
    }



    #centerDiv {
        top: 100px;
        bottom: 100px;
        overflow: auto;
        height: 79%;
        text-align: center;
        
    }
    .centerCVDiv {
        top: 100px;
        bottom: 100px;
        overflow: auto;
        height: 90%;
    }

    #mainLeft {
        top: 100px;
        bottom: 100px;
        overflow: auto;
        float: left;
        width: 45%;
        height: 70%;
        text-align: center;
    }

    #mainRight {
        top: 100px;
        bottom: 100px;
        overflow: auto;
        float: right;
        margin-right: 5%;
        width: 45%;
        height: 70%;
        text-align: center;
    }

    .header-links {
        color: #000000;
        text-decoration: none;
        font-family: "Prata",serif;
        font-size: 16px;
        padding: 1em;
        margin: -1em;
    }

    nav ul li {
        background: ghostwhite none repeat scroll 0 0;
        float: left;
        list-style: outside none none;
        margin-left: 10px;
        padding: 10px;
        text-align: center;
        width: 80px;
        border-radius: 5px;
    }

    li {
        list-style: none;
    }

    #top_nav {
        float: right;
        margin-right: 50px;
        margin-top: -75px;
    }

    #mainPage {
        margin-left: auto;
        margin-right: auto;
    }

    #gradCountdown {
        border: 2px solid darkred;
        padding: 10px;
        text-align: center;
        max-height: 10px;
        border-radius: 5px;
        float: left;
        background-color: lightgrey;
        margin-bottom: 10px;
    }

    #liaCountdown {
        border: 2px solid darkred;
        padding: 10px;
        text-align: center;
        max-height: 10px;
        border-radius: 5px;
        float: right;
        background-color: lightgrey;
        margin-bottom: 10px;
    }

    .fb-like {
        position: center;
        margin-left: 40%;
        text-align: center;
        width: 80px;
        border-radius: 5px;
        clear: both;
    }
    #header a {
        text-decoration: none;
    }

    h1 {
        color: darkred;
        margin-top: 2px;
    }
    #cvJobs {
        margin-bottom: 50px;
    }
}
/**************
Expander
**************/
.job {
    border: 2px solid grey;
    text-align: center;
    width: 95%;
}
.details {
    display: none;
    text-align:center;
    background-color: dimgrey;
    width: 95%;
}
/**************
End of Expander
**************/
}